.DS_Store
*.swp
nvim/autoload/*
nvim/colors/*
nvim/.netrwhist
iterm2/*
gtk-2.0/*
yarn/*
xbuild/*
NuGet/*
configstore/*
gcloud/*
stetic/*
micro/*
.isolated-storage/*
doctl/*

# Lol I can't believe it puts save files in this directory.
StardewValley
